@model IEnumerable<Blog>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h2>Blog List</h2>
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0 )
            {
                <table class="table table-bordered table-striped " >
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>isApproved</th>
                            <th>isHome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model)
                       {
                        <tr>
                            <td>@item.BlogId</td>
                            <td>
                                <img src="~/img/@item.Image" width="100" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.Date</td>
                            <td>
                                @if (item.isApproved)
                                {
                                    <p>
                                        <span class="badge badge-info">
                                            Approved
                                        </span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <span class="badge badge-danger">
                                            Not Approved
                                        </span>
                                    </p>
                                }
                            </td>
                            <td>
                                @if (item.isHome)
                                {
                                    <p>
                                        <span class="badge badge-info">
                                            Home Blog
                                        </span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <span class="badge badge-danger">
                                            Not Home Blog
                                        </span>
                                    </p>
                                }
                            </td>
                            <td>
                                <a asp-controller="Blog"
                                   class="btn btn-primary btn-sm"
                                   asp-action="Edit"
                                   asp-route-id="@item.BlogId">
                                    Update
                                </a>
                                <a asp-controller="Blog"
                                   class="btn btn-danger btn-sm"
                                   asp-action="Delete"
                                   asp-route-id="@item.BlogId">
                                    Delete
                                </a>
                            </td>
                        </tr>
                       }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    There are no blog on database.
                </div>
            }
        </div>
    </div>
</div>
